<template>
	<TheHeader>Chi Sono</TheHeader>

	<div class="flex flex-col gap-20">
		<!-- Sezione Superiore -->
		<section class="space-y-10 md:space-y-0 md:px-10 lg:p-0">
			<div class="mx-auto w-56 md:float-left md:mb-5 md:mr-10 lg:mb-10">
				<!-- Immagine -->
				<TheSpinner v-if="isLoading" />
				<img
					v-else
					class="rounded shadow-2xl dark:shadow-none"
					:src="actualPath"
					alt="Foto Andrea Damiani"
					width="2345"
					height="2345" />
			</div>
			<article
				class="flex flex-col gap-4 text-justify text-xl dark:text-white md:text-start md:leading-relaxed lg:text-xl xl:text-2xl">
				<p>
					Sono uno sviluppatore web frontend con esperienza in JavaScript e PHP. Lavoro agilmente con Vue.js e ho da poco iniziato
					ad avvicinarmi all'immenso ecosistema di React. Cerco sempre di tenermi qualcosa di nuovo da studiare, cosa non
					difficile in questo settore.
				</p>
				<p>
					Attualmente lavoro presso
					<a href="https://buffetti.it/" target="_blank" id="buffetti" class="text-blue-500 underline dark:text-blue-400"
						>Gruppo Buffetti S.p.A.</a
					>, dove, fra le altre cose, mi sto occupando dello sviluppo dell'applicazione usata dal reparto amministrativo per il
					recupero crediti.
				</p>
				<p>
					Ho sempre amato "mettermi all'opera" e costruire qualcosa da zero, passione che coltivo con il fai-da-te, la musica e
					con lo sviluppo web.
				</p>
				<p>
					Ho acquisito le mie conoscenze grazie al coding-bootcamp <strong>Hackademy</strong> di
					<a href="https://aulab.it" target="_blank" id="aulab" class="text-yellow-500 underline dark:text-yellow-400">Aulab</a>
					e continuo a formarmi e ad apprendere cose nuove ogni giorno.
				</p>
				<p>Mi pongo costantemente nuove sfide, quindi tornate spesso per controllare i nuovi progetti che pubblicherò!</p>
			</article>
		</section>

		<!-- Sezione Centrale -->
		<section class="flex flex-col flex-wrap items-center justify-evenly gap-y-6 md:flex-row xl:gap-x-10">
			<ContactLink
				class="bg-gray-600 hover:from-gray-700 hover:to-gray-600"
				:icon="icons.envelopeSimple"
				link="mailto:andrea.dam90@gmail.com">
				Email
			</ContactLink>
			<ContactLink
				class="bg-linkedin from-blue-600 to-linkedin"
				:icon="icons.linkedinIcon"
				link="https://www.linkedin.com/in/andrea-damiani-web-developer/">
				LinkedIn
			</ContactLink>
			<ContactLink class="bg-black" :icon="icons.githubIcon" link="https://github.com/andrea-dam">GitHub</ContactLink>
			<ContactLink class="bg-gitlab from-red-600 to-gitlab" :icon="icons.gitlabIcon" link="https://gitlab.com/andrea-dam">
				GitLab
			</ContactLink>
			<ContactLink class="bg-gray-500 from-gray-600 to-gray-500" :icon="icons.resumeIcon" link="/curriculum-vitae/">CV</ContactLink>
		</section>

		<!-- Sezione Inferiore -->
		<section class="dark:text-slate-100">
			<ul class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
				<li v-for="skill in skills" :key="skill.name" class="flex flex-col">
					<div class="group mb-2 flex items-center gap-5">
						<div class="flex w-14 justify-center">
							<Icon
								:icon="skill.icon"
								class="text-4xl drop-shadow-sm transition-transform duration-300 ease-out group-hover:scale-125 dark:drop-shadow-none" />
						</div>
						<p class="text-2xl">{{ skill.name }}</p>
					</div>
				</li>
			</ul>
		</section>
	</div>
</template>

<script setup lang="ts">
import ContactLink from "../ui/ContactLink.vue";
import { icons } from "../../data/icons";
import useFirebaseFetch from "../../hooks/firebase-fetch";
import useImageUrl from "../../hooks/image-url";
import TheHeader from "../layout/TheHeader.vue";

defineProps<{ title: string }>();

const { data: skills } = useFirebaseFetch<{ name: string; icon: string }>("skills");
const { actualPath, isLoading } = useImageUrl("gs://portfolio-b1210.appspot.com/2020-02-18_21-16-38_271.webp");
</script>
