<template>
	<TheHeader>Certificazioni</TheHeader>

	<TheGrid class="select-none gap-10 md:gap-3 lg:gap-10">
		<li v-for="certificate in certificates" :key="certificate.name" class="transition-transform duration-150 lg:hover:scale-105">
			<BaseCertificate v-bind="certificate" />
		</li>
	</TheGrid>
</template>

<script setup lang="ts">
import TheGrid from "../layout/TheGrid.vue";
import BaseCertificate from "../ui/BaseCertificate.vue";
import { Certificate } from "../../types";
import useFirebaseFetch from "../../hooks/firebase-fetch";
import TheHeader from "../layout/TheHeader.vue";

defineProps<{ title: string }>();

const { data: certificates } = useFirebaseFetch<Certificate>("certificates");
</script>
