<template>
	<TheHeader>Progetti</TheHeader>

	<!-- Main Area -->
	<TheSpinner v-if="stillLoading" />

	<TheGrid class="gap-6 md:gap-3 lg:gap-2">
		<ProjectCard
			v-for="(project, index) in projects"
			:key="index"
			ref="projectRef"
			class="translate-y-16 opacity-0 transition-all duration-500 ease-out"
			@click="() => openModal(index)"
			v-bind="project"
			@loading-done="() => immaginiCaricate.push(true)" />
	</TheGrid>

	<!-- Modale Progetto -->
	<TheModal ref="modal" v-bind="selectedCard" />
</template>

<script setup lang="ts">
import { ref, defineAsyncComponent, computed, useTemplateRef } from "vue";
import { useBreakpoints, breakpointsTailwind, useIntersectionObserver, watchArray, MaybeElementRef } from "@vueuse/core";

import TheGrid from "../layout/TheGrid.vue";
import ProjectCard from "../ui/ProjectCard.vue";
import TheSpinner from "../ui/TheSpinner.vue";

import { Project } from "../../types";
import useFirebaseFetch from "../../hooks/firebase-fetch";
import TheHeader from "../layout/TheHeader.vue";

defineProps<{ title: string }>();

const { data: projects } = useFirebaseFetch<Project>("projects");

const modal = useTemplateRef("modal");
type ProjectCard = InstanceType<typeof ProjectCard>;
const projectRef = useTemplateRef<ProjectCard[] | null>("projectRef");

const breakpoints = useBreakpoints(breakpointsTailwind);
const largerThanMobile = breakpoints.greater("sm");

const immaginiCaricate = ref<boolean[]>([]);
const stillLoading = computed(() => immaginiCaricate.value.length < projectRef.value?.length!);

watchArray(
	immaginiCaricate,
	() => {
		if (projectRef.value!.length === immaginiCaricate.value.length) {
			if (largerThanMobile.value) {
				let counter = 0;

				projectRef.value!.forEach(project => {
					setInterval(() => showProject(project), counter);
					counter += 100;
				});
			} else {
				projectRef.value!.forEach(project => {
					useIntersectionObserver(project as MaybeElementRef, ([{ isIntersecting }]) => {
						if (isIntersecting) {
							showProject(project);
						}
					});
				});
			}
		}
	},
	{ deep: true }
);

const showProject = (project: ProjectCard) => {
	project.project?.classList.remove("opacity-0", "translate-y-16");
};

const TheModal = defineAsyncComponent(() => import("../layout/TheModal.vue"));

const selectedCard = ref<Project>({
	title: "",
	description: "",
	code: "",
	image: "",
	icons: [],
	isOnline: false,
});

const openModal = (projectId: number) => {
	selectedCard.value = projects.value!.find(project => project === projects.value![projectId])!;
	modal.value!.modal?.showModal();
	// document.body.style.overflow = "hidden";
};
</script>
