<template>
	<div class="m-auto text-2xl dark:text-slate-50">
		Pagina Non Trovata!
		<router-link to="/" class="text-blue-500 underline underline-offset-8 dark:text-red-700">Torna alla Home</router-link>
	</div>
</template>
