<template>
	<header class="flex flex-col gap-1 tracking-tight text-slate-800 transition-colors duration-300 dark:text-slate-50 md:gap-4">
		<div class="flex flex-col gap-1">
			<h1 class="text-5xl font-medium md:text-7xl lg:text-6xl">Andrea Damiani</h1>

			<h2 class="text-2xl text-gray-500 dark:text-gray-300 lg:text-3xl">Frontend Developer</h2>
		</div>

		<h3 class="text-4xl font-medium lg:text-5xl"><slot /></h3>
	</header>
</template>
