<template>
	<dialog
		ref="modal"
		class="rounded-md p-0 shadow-xl dark:bg-slate-800 dark:text-white lg:w-2/3 xl:w-1/2">
		<div class="flex flex-col gap-5 p-4 md:p-8" ref="target">
			<!-- Header -->
			<header class="flex items-center justify-between gap-3">
				<!-- Titolo -->
				<h4 class="text-3xl font-medium md:w-auto md:text-5xl">
					{{ title }}
				</h4>

				<div class="flex items-center gap-3 md:gap-8">
					<!-- Badge -->
					<div
						v-if="isOnline"
						class="rounded-lg bg-green-700 px-3 py-0.5 text-lg font-semibold text-white md:text-xl">
						Online
					</div>

					<!-- Pulsante Chiudi -->
					<button @click="closeModal">
						<Icon :icon="icons.xBold" class="text-4xl drop-shadow-md" />
					</button>
				</div>
			</header>

			<!-- Descrizione -->
			<p class="md:text-lg">{{ description }}</p>

			<!-- Immagine -->
			<TheSpinner v-if="isLoading" />
			<img
				v-else
				:src="actualPath"
				class="rounded-md"
				:alt="title"
				width="1680"
				height="939" />

			<!-- Footer -->
			<div class="flex flex-col-reverse md:flex-row md:items-center md:justify-between">
				<div class="flex justify-between gap-x-5">
					<!-- Pulsante Codice -->
					<BaseButton
						v-if="code"
						class="bg-blue-600 hover:bg-blue-500 dark:bg-red-900 dark:hover:bg-red-800"
						:url="code"
						:icon="icons.codeBold">
						Codice
					</BaseButton>

					<!-- Pulsante Pagine Online -->
					<BaseButton
						v-if="isOnline"
						ref="onlineButton"
						class="animate__animated animate__delay-1s bg-green-700 hover:bg-green-600"
						:url="url"
						:icon="icons.computerDesktop">
						Visita
					</BaseButton>
				</div>

				<!-- projectIcons -->
				<div class="mb-3 hidden gap-3 md:mb-0 md:flex">
					<Icon
						v-for="icona in props.icons"
						:key="icona"
						:icon="projectIcons[icona]"
						inline="true"
						class="text-5xl drop-shadow-md" />
				</div>
			</div>
		</div>
	</dialog>
</template>

<script setup lang="ts">
import { useTemplateRef } from "vue";
import { onClickOutside, useIntersectionObserver } from "@vueuse/core";

import BaseButton from "../ui/BaseButton.vue";

import { icons, projectIcons } from "../../data/icons";
import { Project } from "../../types";

import useImageUrl from "../../hooks/image-url.js";

const props = defineProps<Project>();

const modal = useTemplateRef("modal");
const target = useTemplateRef("target");

const onlineButton = useTemplateRef("onlineButton");

const closeModal = () => {
	modal.value?.close();
	document.body.style.overflow = "auto";
};

const { actualPath, isLoading } = useImageUrl(props.image);

useIntersectionObserver(onlineButton, ([{ isIntersecting }]) => {
	if (isIntersecting) {
		onlineButton.value?.button?.classList.add("animate__bounce");
	}
});

onClickOutside(target, () => closeModal());
defineExpose({ modal });
</script>

<style>
dialog::backdrop {
	@apply bg-slate-900/60;
}
</style>
