<template>
	<nav
		v-if="lg || isMenuOpen"
		:class="lg ? scrollChange : ' bg-blue-600/90 text-3xl text-white dark:bg-red-800/90'"
		class="absolute inset-0 z-40 h-[100dvh] w-screen items-center justify-center py-20 pl-10 text-lg font-medium tracking-wider transition-colors duration-300 lg:fixed lg:left-0 lg:right-0 lg:top-0 lg:flex lg:h-16 lg:py-0 lg:pl-0">
		<ul class="flex h-full w-full flex-col items-start justify-between text-2xl lg:flex-row lg:items-center lg:px-72 lg:text-xl">
			<RouterLink to="/certificates" active-class="underline underline-offset-8">Certificazioni</RouterLink>

			<RouterLink to="/projects" active-class="underline underline-offset-8">Progetti</RouterLink>

			<RouterLink to="/about-me" active-class="underline underline-offset-8">Chi Sono</RouterLink>
		</ul>

		<DarkButton class="relative right-10 flex items-center dark:text-gray-200" spazio-destra="right-1" spazio-sinistra="right-20" />
	</nav>

	<MenuButton class="fixed" v-if="!lg" @click="toggleMenu()" :is-open="isMenuOpen" />
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import { useWindowScroll, breakpointsTailwind, useBreakpoints, useToggle } from "@vueuse/core";

import DarkButton from "../ui/DarkButton.vue";
import MenuButton from "../ui/MenuButton.vue";

const isMenuOpen = ref(false);
const toggleMenu = useToggle(isMenuOpen);

const { y } = useWindowScroll();
const breakpoints = useBreakpoints(breakpointsTailwind);
const lg = breakpoints.greater("lg");

const scrollChange = computed(() => {
	return y.value && lg.value ? "bg-blue-600/90 text-white backdrop-blur-sm dark:bg-red-800/90" : "bg-transparent dark:text-white";
});
</script>
