<template>
	<TheNavbar />

	<main class="container mx-auto mt-5 flex flex-col gap-11 px-6 pb-32 lg:mt-16 lg:px-12 lg:pb-12">
		<RouterView v-slot="{ Component }">
			<KeepAlive>
				<Component :is="Component" />
			</KeepAlive>
		</RouterView>
	</main>

	<BackToTop />
</template>

<script setup lang="ts">
import TheNavbar from "./components/layout/TheNavbar.vue";
import TheHeader from "./components/layout/TheHeader.vue";
import BackToTop from "./components/ui/BackToTop.vue";
</script>
