<template>
	<a
		href="#"
		role="button"
		class="fixed bottom-10 right-10 z-30 rounded-full bg-gray-200 text-blue-600 shadow-xl transition-colors duration-300 dark:text-red-900 lg:hidden"
		:class="{ hidden: !y }">
		<Icon :icon="icons.arrowCircleUpRounded" class="text-6xl" />
	</a>
</template>

<script setup lang="ts">
import { useWindowScroll } from "@vueuse/core";

import { icons } from "../../data/icons";

const { y } = useWindowScroll();
</script>
