<template>
	<a
		ref="button"
		:href="url"
		target="_blank"
		class="flex w-1/2 items-center justify-center gap-3 rounded-md px-5 py-2.5 text-2xl text-white drop-shadow-md md:w-full md:gap-4 md:text-3xl">
		<Icon :icon="icon" class="drop-shadow-md" />
		<span class="text-xl font-medium">
			<slot />
		</span>
	</a>
</template>

<script setup lang="ts">
import { Component, useTemplateRef } from "vue";

defineProps<{ url?: string; icon: Component }>();

const button = useTemplateRef("button");

defineExpose({ button });
</script>
