<template>
	<a
		:href="url"
		target="_blank"
		class="flex h-full flex-col rounded-lg bg-stone-100 shadow-lg transition-colors duration-300 dark:bg-slate-800 dark:shadow-none">
		<!-- Immagine -->
		<TheSpinner v-if="isLoading" />
		<img v-else class="rounded-t-lg" :src="actualPath" :alt="name" width="1680" height="939" />

		<!-- Footer -->
		<div class="flex h-full flex-col justify-between gap-3 p-5 dark:text-white">
			<!-- Nome -->
			<h5 class="mb-2 text-lg font-medium">{{ name }}</h5>

			<!-- Ente -->
			<h6 class="text-end font-normal italic">{{ entity }}</h6>
		</div>
	</a>
</template>

<script setup lang="ts">
import { Certificate } from "../../types";
import useImageUrl from "../../hooks/image-url";

const props = defineProps<Certificate>();

const { actualPath, isLoading } = useImageUrl(props.image);
</script>
