<template>
	<a
		:href="link"
		class="flex w-48 items-center justify-between rounded-full px-5 py-2 text-4xl font-medium text-white shadow-md transition-all ease-out hover:bg-gradient-to-br dark:shadow-none lg:w-60 lg:px-8 lg:hover:scale-110"
		target="_blank">
		<div class="text-xl drop-shadow-2xl dark:drop-shadow-none lg:text-2xl xl:text-3xl">
			<slot />
		</div>
		<Icon :icon="icon" class="drop-shadow-xl dark:drop-shadow-none" inline="true" />
	</a>
</template>

<script setup lang="ts">
import { Component } from "vue";

defineProps<{
	link: string;
	icon: Component;
}>();
</script>
