<template>
	<div>
		<Icon v-show="!isDark" :icon="icons.sunBold" inline="true" class="absolute text-2xl" :class="spazioSinistra" />

		<button @click="toggleDark()" aria-label="dark-mode-button" type="button" class="absolute right-10">
			<Icon :icon="toggle" class="text-4xl" inline="true" />
		</button>

		<Icon v-show="isDark" :icon="icons.moonBold" inline="true" class="absolute text-2xl" :class="spazioDestra" />
	</div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useDark, useToggle } from "@vueuse/core";

import { icons } from "../../data/icons";

defineProps<{ spazioDestra: string; spazioSinistra: string }>();

const isDark = useDark();
const toggleDark = useToggle(isDark);

const toggle = computed(() => (isDark.value ? icons.toggleRightFill : icons.toggleLeft));
</script>
