<template>
	<button
		type="button"
		id="menu-btn"
		class="absolute right-10 top-10 z-50 block focus:outline-none lg:hidden"
		:class="{ open: props.isOpen }">
		<Icon :icon="icon" :class="color" class="text-4xl" />
	</button>
</template>

<script setup lang="ts">
import { computed } from "vue";

import { icons } from "../../data/icons.js";

const props = defineProps<{ isOpen: boolean }>();

const color = computed(() => (props.isOpen ? "text-white" : "dark:text-white"));
const icon = computed(() => (props.isOpen ? icons.xBold : icons.barsIcon));
</script>
