<template>
	<li class="group relative" role="button" ref="project">
		<!-- Immagine -->
		<TheSpinner v-if="isLoading" />

		<div v-else class="flex h-full items-center justify-center">
			<img :src="actualPath" :alt="title" width="1680" height="939" />
		</div>

		<!-- Overlay on Hover -->
		<div
			class="absolute bottom-0 z-10 flex h-full w-full flex-col justify-between text-white opacity-0 transition-all duration-200 lg:p-2 lg:group-hover:bg-blue-900/90 lg:group-hover:opacity-100 lg:dark:group-hover:bg-red-900/90 xl:p-4">
			<div class="flex items-center justify-between gap-1">
				<!-- Titolo -->
				<h4 class="font-semibold lg:text-2xl xl:text-xl 2xl:text-2xl">
					{{ title }}
				</h4>

				<!-- Badge -->
				<div
					v-if="isOnline"
					class="rounded-lg bg-green-700 px-2 font-semibold">
					Online
				</div>
			</div>

			<!-- projectIcons -->
			<div class="flex gap-3 self-end">
				<Icon
					v-for="icona in props.icons"
					:key="icona"
					:icon="projectIcons[icona]"
					inline="true"
					class="text-5xl drop-shadow-md lg:text-4xl xl:text-5xl" />
			</div>
		</div>
	</li>
</template>

<script setup lang="ts">
import { watch, useTemplateRef } from "vue";

import { Project } from "../../types.js";
import { projectIcons } from "../../data/icons";
import useImageUrl from "../../hooks/image-url.js";

const props = defineProps<Project>();

const emit = defineEmits(["loadingDone"]);

const project = useTemplateRef("project");

const { actualPath, isLoading } = useImageUrl(props.image);

watch(isLoading, () => {
	if (!isLoading.value) emit("loadingDone");
});

defineExpose({ project });
</script>
