<template>
	<div class="flex items-center justify-center px-24 py-12">
		<Icon class="animate-spin text-5xl dark:text-white" :icon="icons.spinnerIcon" />
	</div>
</template>

<script setup lang="ts">
import { icons } from "../../data/icons";
</script>
